@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

:root {
    --font-roboto: "Roboto Slab", serif;
    --font-raleway: "Raleway", sans-serif;
    --primary: #20232A;
    --secondary: #333A45;
}

body {
    font-family: var(--font-roboto);
    background-color: gainsboro;
}

.container {
    width: 100%;
    padding: 10px;
    margin: auto;
    height: 100vh;
    position: relative;
}

.vertical-center {
    max-width: 500px;
    min-width: 300px;
    width: 500px;
    margin: 0px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: var(--primary);
    border-radius: 10px;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-y: scroll;
    color: white;
}

.todo-input {
    margin: 0;
    display: flex;
    margin-top: 10px;
}

.todo-input input {
    padding: 7px;
    width: 80%;
    border-radius: 5px 0px 0px 5px;
    font-size: x-large;
    background-color: gainsboro;
    border: 1px solid lightslategray;
    color: lightslategray;
    outline: none;
    box-sizing: border-box;
}

.todo-input input:focus {
    border: 2px solid #20232A;
}

.todo-input button {
    padding: 8px;
    width: 20%;
    border-radius: 0px 5px 5px 0px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: lightslategray;
    border: 1px solid #20232A;
    color: white;
}

.todo-input button:hover {
    cursor: pointer;
    background-color: #20232A;
    color: gainsboro;
    border: 1px solid white;
}

.nav-bar {
    font-size: large;
    margin-top: 10px;
}

.nav_link:hover {
    cursor: pointer;
    color: darkgray;
}

.nav_link {
    margin-right: 10px;
    color: lightslategray;
}

ul {
    margin-top: 2em;
    /* List styles */
    list-style-type: none;
    /* Type of bullet point (disc, circle, square) */
    list-style-position: inside;
    padding-inline-start: 0px;
}

li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--secondary);
    padding: 5px;
    padding-left: 20px;
    border-radius: 15px;
    color: white;
    border: 1px solid #20232A;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

li button {
    font-size: 15px;
    font-weight: 500;
    background-color: #20232A;
    padding: 5px;
    border-radius: 10px;
    color: gainsboro;
    border: 1px solid var(--primary);

}

li button:hover {
    background-color: lightslategray;
    color: white;
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: gainsboro;
}

g

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

h2 {
    margin: 0;
    padding: 2px;
    position: sticky;
}

p {
    margin: 0;
    position: static;
}

.container-header {
    margin-bottom: 30px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: left;
}